jupyter-book~=1.0
pydata-sphinx-theme~=0.15
sphinxcontrib.mermaid~=0.9
sphinxcontrib.youtube~=1.4
sphinx-simplepdf~=1.6

# attribute tables
# import altair as alt
itables~=2.2
pandas~=2.2
networkx
ghapi
pygraphviz
squarify
